/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: black;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 200;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  margin-left: 0.5em;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2em;
}

.grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.grabbing .project-slide img {
  transform: scale(0.9);
}

/* Resume Modal */

.resume-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  padding-right: 1em;
  animation-name: modalopen;
  animation-duration: 1s;
}

iframe {
  margin: auto;
  display: block;
}

/* Contact Modal */

.contact-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.contact-modal-content {
  margin: auto;
  padding: 1em;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation-name: modalopen;
  animation-duration: 1s;
}

.contact-popup {
  width: 600px;
  height: 600px;
  padding: 2em;
  background-color: #f3f3f3;
  border-radius: 10px;
  position: relative;
}

.contact-popup header {
  margin-bottom: 1em;
}
.contact-popup input {
  display: inline-block;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  width: 100%;
  font-size: 1.2em;
  color: #333;
  box-shadow: 2px 2px 5px rgba(122, 122, 122, 0.288);
  /* border-style: 1px solid #fafafa; */
  border: none;
  border-radius: 50px;
  outline: none;
}

.contact-popup textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(122, 122, 122, 0.288);
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  color: #333;
  outline: none;
  padding: 0.5em 1em;
}

.contact-modal-footer {
  padding: 3em;
  text-align: center;
}

.contact-modal-footer a {
  padding: 1em;
  margin: 0.5em;
}

.contact-modal-footer a:hover,
.contact-modal-footer a:focus,
.contact-modal-footer a:active {
  background-color: #09b2e4;
  color: #333;
}

.contactCloseBtn {
  font-size: 30px;
  color: #09b2e4;
  position: absolute;
  top: 10px;
  right: 15px;
  float: right;
  cursor: pointer;
}
.closeBtn {
  font-size: 30px;
  color: #09b2e4;
  float: right;
  cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus,
.closeBtn:active,
.contactCloseBtn:hover,
.contactCloseBtn:focus,
.contactCloseBtn:active {
  color: red;
}

/* Header and Nav */

.header {
  height: 100vh;
  width: 100%;
  /* position: relative; */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../../assets/images/studio.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.nav-container {
  max-height: 60px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 4;
}

nav {
  max-width: 1024px;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0 auto 1em auto;
  z-index: 3;
}

nav a {
  font-weight: 200;
  color: #fafafa;
  padding: 1em;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #09b2e4;
  border-bottom: 1px solid #09b2e4;
  padding-bottom: 0.5em;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.logo-and-name p {
  color: #fafafa;
  font-size: 1.3em;
  padding-left: 0.5em;
}

.logo-and-name span {
  color: #09b2e4;
}

.logo-text {
  color: #09b2e4;
}

.logo {
  max-width: 50px;
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Welcome text */
.welcome {
  height: 100vh;
  max-width: 1024px;
  padding: 0 1em;
  margin: auto;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text {
  max-width: 700px;
}

.welcome-text h1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 1.1;
}

.welcome-line hr {
  height: 0.5em;
  background-color: #09b2e4;
  width: 25%;
  border-width: 0;
  margin-top: 1em;
}

/* Headshot */

.headshot-card {
  margin: auto;
  max-width: 300px;
  padding: 1em;
  color: #333;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.288);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  -moz-backdrop-filter: blur(0.5rem);
}

/* About */

.about {
  min-height: 650px;
  width: 100%;
  /* background: linear-gradient(to right top, #09b2e4, #006a8a); */
  background-color: #09b2e4;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em;
  margin: auto;
}

.about-image {
  width: 500px;
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
}

.headshot {
  width: 400px;
}

.headshot img {
  height: auto;
  width: 100%;
  border-radius: 290486px;
}

.about-text {
  margin: auto;
  max-width: 500px;
  /* flex: 1; */
}

.about-title h1 {
  color: #333;
  font-weight: 400;
}

.about p {
  font-size: 1.3rem;
}

/* Follow */

.follow {
  height: 300px;
  width: 100%;
  background-color: black;
}

.follow-container {
  height: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-around;
  justify-content: space-evenly;
}

.follow-title h1 {
  color: #fafafa;
  text-align: center;
  font-weight: 400;
}

.headshot-card img {
  height: auto;
  width: 100%;
  border-radius: 290486px;
}

.follow-icon {
  background-color: black;
  /* background-color: #09b2e4; */
  height: 80px;
  width: 80px;
  border: 1px solid #fafafa;
  /* padding: 1em; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50%;
}

.follow-icon:hover,
.follow-icon:focus,
.follow-icon:active {
  border: 1px solid #09b2e4;
}

.follow-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.follow-links a {
  color: #fafafa;
  margin: 1em;
}
.follow-links a:hover {
  color: #09b2e4;
  /* color: #fafafa; */
}

/* Services */

.services-banner {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.411),
      rgba(0, 0, 0, 0.37)
    ),
    url(../../assets/images/handshake.jpeg);
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-banner-text p {
  max-width: 700px;
  text-align: center;
  color: #fafafa;
  text-shadow: 2px 2px #333;
  font-size: 2.5em;
  /* font-weight: 400; */
}

.services {
  min-height: 600px;
  width: 100%;
  margin: auto;
  /* background: linear-gradient(to right top, #09b2e4, #8cdaf1); */
  /* background: linear-gradient(to right top, #09b2e4, #0081a8); */
  background-color: #09b2e4;
  color: #fafafa;
  padding: 1em 1em 8em;
  margin: auto;
}

.services-title {
  color: #333;
  margin: auto;
  padding: 1em;
}

.services-title h1 {
  text-align: center;
  font-weight: 400;
}

.services-list {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.service-card {
  margin: 1em;
  max-width: 300px;
  height: 400px;
  padding: 1em;
  color: #333;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.288);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  -moz-backdrop-filter: blur(0.5rem);
}

.service-card span {
  color: #09b2e4;
}

.service-card h2 {
  padding: 0.5em;
}

.service-card p {
  padding: 0 1em;
  font-size: 1.1em;
}

/* Projects */

/* .projects {
  background-color: #fafafa;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/images/coding1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 2em;
} */

.projects-container {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
  box-shadow: 6px -6px 30px rgba(122, 122, 122, 0.445);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  -moz-backdrop-filter: blur(0.5rem);
  position: relative;
  overflow: hidden;
  cursor: grab;
  color: #fafafa;
}

.slider-pagination {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}

.slider-pagination span {
  /* font-size: 1.5em; */
  color: #09b2e4;
  user-select: none;
  cursor: default;
  padding: 0.5em;
}

#leftArrow,
#rightArrow {
  color: rgb(104, 102, 102);
  cursor: pointer;
  font-size: 2em;
}

.projects-slider {
  /* height: 100vh; */
  display: inline-flex;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  /* cursor: grab; */
  margin: auto;
}

.project-slide {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin: auto;
  user-select: none;
  overflow: hidden;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 0 1em 1em 1em;
  margin: auto;
}

.projects-title h1 {
  color: #fafafa;
  font-weight: 400;
  text-align: center;
}

.project-summary h1,
.project-technologies h2 {
  color: #09b2e4;
}

.project-summary h1 {
  text-align: center;
  margin-bottom: 1em;
}

.project-summary,
.project-details {
  max-width: 930px;
}

.projects-title {
  padding: 1em 0 0 0;
}

.project-summary p {
  text-align: center;
}

.project-details {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.project-links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.project-links a {
  padding: 1em;
  margin: 0.5em;
}

.project-links a:hover,
.project-links a:focus,
.project-links a:active {
  background-color: #09b2e4;
  color: #333;
}

.btn {
  background-color: #333;
  color: #fafafa;
}

.project-image {
  max-width: 600px;
  flex: 1;
  margin: auto;
}

.project-image img {
  height: auto;
  width: 100%;
  align-self: center;
  transition: transform 0.3s ease-in-out;
}

/* Companies */

.companies-container {
  height: auto;
  /* width: 100%; */
  /* margin-top: -50px; */
  /* background: linear-gradient(to right top, #09b2e4, #8cdaf1); */
  background-color: #09b2e4;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.companies-title h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.companies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.company {
  height: auto;
  width: 300px;
  margin: 1em;
}

.company img {
  height: auto;
  width: 100%;
  align-self: center;
}

/* Footer */

.footer {
  background-color: black;
  color: #f3f3f3;
  padding: 3em;
  text-align: center;
}

/* Keryframes */
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 1035px) {
  .about-image,
  .about-text {
    max-width: 400px;
  }
  .headshot {
    width: 300px;
  }
}

@media only screen and (max-width: 835px) {
  .about-text {
    max-width: 100vw;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    max-width: 370px;
  }
  .welcome-text h1 {
    font-weight: 400;
    font-size: 40px;
  }
  .headshot {
    width: 300px;
  }
  .about-text {
    text-align: center;
  }
  .follow-links a {
    margin: 0.5em;
  }
  .follow-icon {
    height: 70px;
    width: 70px;
  }
}
